.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:
    minmax(min-content, max-content) minmax(min-content, max-content)
    auto;
  grid-template-areas:
    "title title "
    "searchbar searchbar"
    "map list";

  height: 100vh;
  width: 100vw;
  max-height: 100vh;
}
#title {
  grid-area: title;
  text-align: center;
}

#searchbar {
  grid-area: searchbar;
  height: auto;
  margin: 5px;
}

#map {
  grid-area: map;
  height: auto;
  margin: 5px;
}

#list {
  grid-area: list;
  min-height: 200px;
  margin: 5px;
}
