.Table {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0%;
  margin: 5px;
  font-size: 20px;
  min-width: 460px;
}
#Toolbar {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  margin: 2px 20px 2px 20px;
}
#SideNr {
  align-self: center;
  font-size: 15px;
  margin: 0px 5px 0px 5px;
}
