.Table{
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    width: 90%;
    font-size: 30px;

}

.TableHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: groove;
    width: auto;
    background-color:#d3d1d1;
}

.Column{
    width: 20%;
    text-align: left;
    font-weight: 600;
}