.Table{
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    width: 90%;
    font-size: 30px;
}

.TableHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: groove;
    width: auto;
    background-color:#e2e2e2a9;

}

.Column{
    display: flex;
    width: 25%;
    text-align: left;
    font-weight: 600;
}
#ColumnFace {
    width: auto;
}
#ColumnStar{
    justify-content: space-around;
}