.Row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0%;
    /*border-style: none groove groove groove;*/
    background-color:#e2e2e2a9;
    font-weight: 200;
    text-align: left;
}
.Row:hover {
    background-color: #e2e2e249;
  }
.Cell{
    display: inline-flex;
    width: 30%;

}

#SmileyCell{
    width: 10%;
    flex-shrink: 4;
    justify-content: center;
}
#StarCell{
    justify-content: space-around;
}