.Row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0%;
    border-style: groove;
    background-color:#e2e2e2a9;
}
.Row:hover {
    background-color: #e2e2e249;
  }
.Cell{
    display: inline-flex;
    width: 25%;
    font-weight: 200;
    text-align: left;
}

#SmileyCell{
    width: auto;
    flex-shrink: 4;
    align-items: center;
}
#StarCell{
    justify-content: space-around;
}