.Row {
  padding-bottom: 10px;
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  border-radius: 0%;
  /*border-style: none groove groove groove;*/
  background-color: #e2e2e2a9;
}
.Row:hover {
  background-color: #e2e2e249;
}
.Cell {
  font-weight: 200;
  text-align: left;
}
.Expanded {
  background-color: #e2e2e256;
}
.ExtraInformation {
  grid-area: 2/ 1/ 3/11;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
#NameCell {
  grid-area: 1/ 1/ 1/5;
}
#AdressCell {
  grid-area: 1/ 5/ 1/8;
}
#SmileyCell {
  grid-area: 1/ 8/ 1/9;
  justify-content: center;
}
#ReviewCell {
  grid-area: 1/ 9/ 1/11;
  text-align: center;
}
#Address2Cell {
  grid-area: 1/5/1/8;
}
#GiveReviewCell {
  display: flex;
  grid-area: 1/8/1/11;
  justify-content: center;
}
#PostcodeCell {
  grid-area: 2/5/2/8;
}
#StarCell {
  display: flex;
  grid-area: 2/8/2/11;
  justify-content: center;
}
#TextCell {
  grid-area: 3/1/3/5;
}
#OldSmileys {
  grid-area: 3/5/3/8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
